html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
  color: black;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
}

a {
  color: rgb(0 228 213);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}

.like-btn-svg {
  width: 80px;
  height: 100px;
  background: url(/web_heart_animation.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  position: fixed;
  left: 300px;
}

input[type="checkbox"] {
  display: none;
}

input:checked+.like-btn-svg {
  transition: background 1s steps(28);
  animation: fave-like-btn-svg 1s steps(28);
  background-position: -2800px 0;
}

@keyframes fave-like-btn-svg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -2800px 0;
  }
}